* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

button {
    border: none;
}

:root {
    --text-blue: #4A99D3;
    --color-blue: #4A99D3;
    --text-black: #0F001A;
    --text-white: #fff;
    --text-secondary-color: #260041;
    --text-span-color: #D81B60;
    --color-white: #fff;
}

body {
    font-family: Objective;
    background-image: url(../images/background-color.png);
}

.container {
    max-width: 1147px;
    padding-inline: 20px;
    margin: 0 auto;
}

/* header */

.header {
    padding-block: 47px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 50px;
}

.header__link {
    color: var(--text-black);
    font-size: 18px;
}

.header__link--active {
    color: var(--text-blue);
    font-weight: 500;
}

/* hero */

.hero {
    padding-block: 20px 67px;
}

.hero__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero__content {
    max-width: 636px;
    margin-right: 123px;
}

.hero__title {
    color: var(--text-secondary-color);
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.hero__text {
    color: var(--text-secondary-color);
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 60px;
}

.hero__btn-block {
    display: flex;
    gap: 20px;
}

.hero__btn {
    display: inline-block;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--color-blue);
    background-image: url(../images/google-play.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero__btn:last-child {
    background-image: url(../images/app-store.png);
}